<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.scit.member.dao.CosmeticMapper">

	<select id="loginMember" resultType="CosMember"
			parameterType="String">
		SELECT
		c.usrid
		,c.password
		FROM
		cosmember c
		WHERE
		usrid =  #{usrid}
		AND
		password = #{password}
	</select>
	<select id="selectMember" resultType="CosMember"
			parameterType="String">
		SELECT
		c.usrid
		,c.usrname
		,c.email
		,c.usrrole
		,s.skinproblem
		,s.usrid
		FROM
		cosmember c , cosproduct p, memberskininfo s
		WHERE
		usrid = #{usrid}
		AND
		usrpass = # {usrpass}
	</select>
<select id="selectProduct" resultType="Product" 
        parameterType="String">
		SELECT
		p.productid
		,p.productname
		,p.producttype
		,p.productsolution
		,s.skinproblem
		
		FROM
		cosmember c , cosproduct p, memberskininfo s
		WHERE
	productid = #{productid}
		AND
	productid=#{productid}
		</select>
<insert id= "insertProduct" parameterType ="Product">
	INSERT INTO 
		cosproduct
	VALUES(#{productid},#{productname},#{productprice}, #{producttype}, #{productsolution})
</insert>
	<insert id= "insertMember" parameterType ="CosMember">
		INSERT INTO
		cosmember
		VALUES(#{usrid},#{password},#{usrname}, #{email}, #{skinproblem}, #{usrrole})
	</insert>

	<update id="updateProduct" parameterType="Product">
	UPDATE cosproduct
	SET productid =#{productid}
	WHERE productid =#{productid}	
	</update>
	<update id="updateMember" parameterType="CosMember">
		UPDATE cosmember
		SET usrid =#{usrid}
		WHERE usrid =#{usrid}
	</update>
	<delete id="deleteProduct" parameterType="string">
	DELETE cosproduct
	where 
	productid = #{productid}
	</delete>
	<delete id="deleteMember" parameterType="string">
		DELETE cosmember
		where
		usrid= #{usrid}
	</delete>
	
	<select id="productAll" resultType="Product">
		SELECT
		 p.productid
		,p.productname
		,p.producttype
		,p.productsolution
		,s.skinproblem
		FROM
		cosproduct p, memberskininfo s
		WHERE
		productid = #{productid}
		
	</select>

	<select id="memberAll" resultType="CosMember">
		SELECT
		c.usrid
		,c.usrname
		,c.email
		,c.usrrole
		,s.skinproblem
		,s.usrid
		FROM
		cosmember c , cosproduct p, memberskininfo s
		WHERE
		usrid = #{usrid}
	</select>

</mapper>